body {
    background-image: url("../Character GIF Images/Background.gif");
    background-size: cover;
}

.main-img {
    height: 196px;
    width: 196px;
    position: absolute;
}

.footer-img {
    height: 80px;
    width: 80px;
}

p, th, td {
    color: white;
    text-align: center;
}

#img10, #img9, #img8, #img7 {
    left: 0;
}

#img6, #img5, #img4 {
    left: 8vw;
}

#img3, #img2 {
    left: 16vw;
}

#img1 {
    left: 24vw;
}

#img1, #img5 {
    top: 30vh;
}

#img2, #img8 {
    top: 40vh;
}

#img3, #img9 {
    top: 20vh;
}

#img10 {
    top: 0;
}

#img7 {
    top: 60vh;
}

#img6 {
    top: 10vh
}

#img4 {
    top: 50vh;
}

#gameinfo {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100px;
}

footer {
    position: absolute;
    bottom: 0;
}

#map {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    height: 300px;
    width: 600px;
}
